/* Força um tempo visível para você testar se está funcionando */
::view-transition-old(root) {
  animation: fade-out 2s ease-out forwards;
}
::view-transition-new(root) {
  animation: fade-in 2s ease-in forwards;
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 0 4% 4%;
    width: 100%;
    height: 100vh;
}

#main h1 {
    margin-bottom: 3%;
}