/* Força um tempo visível para você testar se está funcionando */
#header {
    width: 100%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--azul-escuro);
}

#content_header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: clamp(5rem, 250px, 50%);
}

#link {
    width: clamp(5rem, 100px, 40%);
    height: 35%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    color: var(--azul-escuro);
    background-color: var(--background);

    font-size: var(--font-head);
    font-size: 1.3rem;
    font-weight: 600;
}