#btn_filtro {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: var(--azul-escuro);
    background-color: var(--background) !important;
    box-shadow: 0 0 15px #b8b8b8;
    cursor: pointer;
}