#container_card {
    list-style: none;
    width: 100%;
}

#container_card img {
    height: auto;
    width: 100%;
}

#container_card h3 {
    margin: 5% 0 0 0;
    word-break: break-all;
    width: 90%;
}

#container_card span {
    font-weight: 600;
}

#valor{
    margin-left: 2%;
    color: var(--azul-escuro);
}