#item {
    background-color: var(--background);
    vertical-align: middle;
    max-height: 57px;
}

#item td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#item td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#item td {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 15px;
    font-size: 14px;
    vertical-align: middle;
}

.act_td1 {
    margin-right: 8%;
}

.act_td3 {
    margin-left: 8%;
}


#item button {
    color: var(--azul-escuro);
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: auto;
    height: auto;
}